 <div style="display: flex;">
    <a style="padding:200px;font-size:10vw;" href="/search">Search</a>
    </div>



<div style="display: flex;">
    <a style="padding:200px;font-size:10vw;" href="/stationInfo?station=KBRCK">Kilbarrack</a>
    </div>


<div style="display: flex;">
  <a style="padding:200px;font-size:10vw;" href="/stationInfo?station=CTARF">Clontarf</a>
  </div>

<div style="display: flex;">
  <a style="padding:200px;font-size:10vw;" href="https://mobile.twitter.com/IrishRail">Twitter - Dart</a>
  </div>


  