<!DOCTYPE html>
<html>
<body>

  <div style = "font-size:80px;margin-left: 25px;">
    <form action="/action_Search" method="get">
      <label for="station">Search Station</label><br>
    
      <input style = "font-size:60px;" type="text" id="station" name="station" value=""><br>
    
      <input style = "margin-top: 40px;font-size:50px;" type="submit" value="Search">
    </form> 
    
        
    <ul style="list-style-type:none">
    {% for entry in stations %}
    
      <li>
            <a style="font-size:80px;" href="/stationInfo?station={{entry.StationCode}}">{{entry.StationDesc}}</a>
       
      </li>
    
    {% endfor %}
    </ul>
</div>
    
      
  
</body>
</html>