<!DOCTYPE html>
<html>
  <body>
<style>
  
a:link {
  color: #blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

a:active {
  background-color: transparent;
  text-decoration: none;
}
</style>
<div style="font-size: 60px;">
  <a style="" href="/">&lt; Back</a>

  {% if entries|length > 0 %}
  <h1>{{entries.0.Stationfullname}}</h1>
  {% endif %}
  
  <ul style="list-style-type:none">
  {% for entry in entries %}
    <li>
      <h2>Destination: {{ entry.Destination}}</h2>
      <div>Duein: {{entry.Duein }} min</div>
      <div>Last location: {{entry.Lastlocation}}</div>
      <div>Exparrival: {{entry.Exparrival}}</div>

      {% if entry.Late != "0" %}
        <div style="font-weight: bold;color:red;">Late: {{entry.Late}} mins</div>
      {% else %}
        <div>Late: {{entry.Late}} mins</div>
      {% endif %}
      
      <div>Traincode: <a href="shortcuts://run-shortcut?name=TrainAlert">{{entry.Traincode}}</a></div>
    </li>
    
    {% empty %}
    <li>Sorry, no info found!</li>
  
  {% endfor %}
  </ul>

</div>
  </body>
</html>